.page {
	 position: relative;
	 width: 310mm;
	 min-height: 793mm;
	 padding: 0mm;
	 margin: 10mm auto;
	 /* border: 1px #D3D3D3 solid; */
	 border-radius: 5px;
	 background: white;
	 /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}
.subpage {
	 padding: 1cm;
	 border: 5px #ccc solid;
	 height: 750mm;
	 outline: 2cm whitesmoke solid;
}
 
#table-player-stats > div > div > div.row.row-1 > div.cell.cell-1-0.dash-fixed-column {
    flex: 0 0 auto;
    left: 0;
    position: sticky;
    z-index: 0;
}

/* On mouse-over, add a grey background color */
#container:hover input ~ #checkmark {
  background-color: #ccc;
}
